<!DOCTYPE html>
<html>
   <head>
      <title>Homepage</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Import Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery.js"></script>
   </head>
   <body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">UPS</a>
    </div>
    {% if user.is_authenticated %}
      <div>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="users/realuser">{{user.username}}</a></li>
         <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
      </ul>
    </div>
    {% else %}
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
            <li class="active"><a href="{% url 'users:register' %}">Register</a></li>
        </ul>
    </div>    
    {% endif %}
   </div>
   </nav>
   <br><br><br><br><br><br><br>



    <div class="text-center">
    <form role="search" action="/search/tracking/" method="POST" class="row search-form">
    {% csrf_token %}
    <div class="col-md-8 col-md-push-2">
    <div class="search-wrapper">
    <div class="search-container">
    <span class="twitter-typeahead" style="position: relative; display: inline-block;">
    <input type="text" class="store-search typeahead form-control tt-hint" readonly="" autocomplete="off" spellcheck="false" tabindex="-1" dir="ltr" style="position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 97% 50% / auto 60% no-repeat scroll padding-box border-box rgb(255, 255, 255);">
    <input type="text" name="tnum" placeholder="Search by tracking ID" required="" class="store-search typeahead form-control tt-input" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
    <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;">
    </pre>
    <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-stores">
    </div>
    <div class="tt-dataset tt-dataset-categories"></div>
    </div>
    </span>
    </div>
    <button type="submit" class="btn-primary btn"><span class="icon icon-search"></span>Search</button>
    </div>
    </div>
    </form>
    </div>


   <br><br><br><br><br><br><br><br>
   <div class="container-fluid">
   <div class="text-center">
   <img src= "/static/image/ups.gif"  >
   </div>
   </div>
   <br><br><br><br><br><br><br><br><br><br><br>
   <div class='text-center text-info'>
   <p>Presented by Yingzhuo Zhang and Yuchen Wang</p>
   </div>
   </body>
</html>
